<div class="footering">
    <div class="col-sm-12 scale">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">MENU</div>
        <div class="col-sm-3">ADDRESS</div>
        <div class="col-sm-3">CONTACT</div>
    </div>
</div>
<footer>
    <div class="info">
        <div class="col-md-3 col-sm-4 col-xs-6 flogo">
            <img src="/front-end/img/Logos/FooterLogo.png" alt="">
        </div>
        <div class="col-md-3 fotMenu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/leistungen">Leistungen</a></li>
                <li><a href="/projecten">Projekte</a></li>
            </ul>
            <ul>
                <li><a href="/galerie">Galerie</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
                <li><a href="/impressum">Impressum</a></li>
            </ul>
        </div>
        <div class="col-md-3  col-sm-4 address">
                <ul>
                <li>PRO - Bau GmbH</li>
                <li>Friedrichshuttenstrass 20</li>
                <li>57548 Kirchen</li>
            </ul>
        </div>
        <div class="col-md-3  col-sm-4 address">
            <ul>
                <li>Fax- Nr. : 02741- 93 78 54</li>
                <li>pro-bau.gmbh@t-online.de</li>
            </ul>
                <img src="/front-end/img/SocialMedia/facebook.png" alt="">
        </div>
        <div class="col-xs-6 resFoot">
            <img src="/front-end/img/SocialMedia/facebook.png" alt="">
            <ul>
                <li>PRO - Bau GmbH</li>
                <li>Fax- Nr. : 02741- 93 78 54 </li>
                <li>pro-bau.gmbh@t-online.de</li>
            </ul>
        </div>
    </div>
</footer>
<script src="/front-end/js/script.js"></script>