                <nav>
                    <ul class="before">
                        <li class="removable">
                            <a href="/">Home</a>
                        </li>
                        <li class="removable">
                            <a href="/leistungen">Leistungen</a>
                        </li>
                        <li class="removable">
                            <a href="/projecten">Projecten</a>
                        </li>
                    </ul>
                    <div class="ljogo">
                        <img src="/front-end/img/Logos/NavLogoNovi.png" alt="">
                    </div>
                    <ul class="after">
                        <li class="removable">
                            <a href="/galerie">Galerie</a>
                        </li>
                        <li class="removable">
                            <a href="/kontakt">Kontakt</a>
                        </li>
                        <li class="removable">
                            <a href="/impressum">Impressum</a>
                        </li>
                        <li id="fb">
                            <img src="/front-end/img/SocialMedia/FaceBookIcon-Nav.png" alt="">
                        </li>
                    </ul>

                </nav>
                <!--Responsive nav Begining -->
                <div class="responsiveNav">
                    <div class="logo-container">
                        <img src="/front-end/img/Logos/NavLogoNovi.png" alt="">
                    </div>
                    <div class="button-container">
                        <hr>
                        <hr>
                        <hr>
                    </div>
                </div>