                <nav>
                    <ul class="before">
                        <li class="removable">
                            <a href="/">Home</a>
                        </li>
                        <li class="removable">
                            <a href="/leistungen">Leistungen</a>
                        </li>
                        <li class="removable">
                            <a href="/projecten">Projecten</a>
                        </li>
                    </ul>
                    <div class="ljogo">
                        <img src="/front-end/img/Logos/NavLogoNovi.png" alt="">
                    </div>
                    <ul class="after">
                        <li class="removable">
                            <a href="/galerie">Galerie</a>
                        </li>
                        <li class="removable">
                            <a href="/kontakt">Kontakt</a>
                        </li>
                        <li class="removable">
                            <a href="/impressum">Impressum</a>
                        </li>
                        <li id="fb">
                            <img src="/front-end/img/SocialMedia/FaceBookIcon-Nav.png" alt="">
                        </li>
                    </ul>

                </nav>
                <!--Responsive nav Begining -->
                <div class="responsiveNav">
                    <div class="logo-container">
                        <img src="/front-end/img/Logos/NavLogoNovi.png" alt="">
                    </div>
                    <div class="button-container">
                        <hr>
                        <hr>
                        <hr>
                    </div>
                    <div class="listOfLink">
                    {% if style == 'style.css' %}
                        <ul>
                            <li>
                                <a href="#slider" class="scroll-smooth">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#services-mobile" class="scroll-smooth">
                                    Leistungen
                                </a>
                            </li>
                            <li>
                                <a href="#projects-mobile" class="scroll-smooth">
                                    Projecten
                                </a>
                            </li>
                            <li>
                                <a href="#gallery-mobile" class="scroll-smooth">
                                    Gallerie
                                </a>
                            </li>
                            <li>
                                <a href="#mobile-contact" class="scroll-smooth">
                                    Kontakt
                                </a>
                            </li>
                            <li>
                                <a href="/impressum" class="scroll-smooth">
                                    Impressum
                                </a>
                            </li>
                        </ul>
                        {% else %}
                                                <ul>
                            <li>
                                <a href="/" class="scroll-smooth">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="/" class="scroll-smooth">
                                    Leistungen
                                </a>
                            </li>
                            <li>
                                <a href="/" class="scroll-smooth">
                                    Projecten
                                </a>
                            </li>
                            <li>
                                <a href="/" class="scroll-smooth">
                                    Gallerie
                                </a>
                            </li>
                            <li>
                                <a href="/" class="scroll-smooth">
                                    Kontakt
                                </a>
                            </li>
                            <li>
                                <a href="/impressum" class="scroll-smooth">
                                    Impressum
                                </a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>