{% include 'shared/header.twig' with {'style': style} %}
    <body ng-app="proApp" ng-controller="proCtrl">
        <div class="container-fluid" id="firstCont">
            <div class="row">
            {% include 'shared/navigation.twig' %}
                <!--Responsive nav Endeee -->
                <div class="navigator">

                </div>
                <div class="notMoving">

                </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 sectionTwo">
                </div>
                <div class="col-sm-12 titleing ">
                    <div class="inner">
                        <h3 class="projects">GALERIE</h3>
                    </div>
                </div>
            </div>
            <div class="row tumbs">
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <img src="" alt="" class="fotka">
                            <a href="#" class="pointers" id="pointerR" ng-click="changePic('right')"></a>
                            <a href="#" class="pointers" id="pointerL" ng-click="changePic('left')"></a>
                            <div class="modal-footer">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                        </div>
                        </div>
                    </div>
                <div class="col-sm-8 col-sm-offset-2 col-xs-12  tumbanils">
                    {% for picture in pictures %}
                    <div class="col-sm-4 thumb">
                        <div class="thumbnail">
                            <div>
                                <a class="example-image-link" href="{{picture.url}}" data-lightbox="Pro-Bau Gallerie" data-title="Gallerie">
                                    <img class="example-image" src="{{picture.url}}" alt=""/>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                {% include 'shared/footer.twig' %}
            </div>
        </div>
        <script src="/front-end/js/lightbox.min.js"></script>
    </body>
</html>
