{% include 'shared/header.twig' with {'style': style} %}
    <body>
        <div class="container-fluid" id="firstCont">
            <div class="row">
                {% include 'shared/navigation.twig' with {'style':style} %}
                <!--Responsive nav Endeee -->
                <div class="navigator">

                </div>
                <div class="notMoving">

                </div>
                <div class="slider">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                        <img src="/front-end/img/Slider/slider3.jpg" alt="...">
                            <div class="content">
                                <div id="heading" class="heading">
                                    <h1>Ihr zuverlässiger Partner im Hochbau</h1>
                                </div>
                                <p class="sliderTxt">
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/front-end/img/Slider/slider2.jpg" alt="...">
                            <div class="content">
                                <div id="heading" class="heading">
                                    <h1>Ihr zuverlässiger Partner im Hochbau</h1>
                                </div>
                                <p class="sliderTxt">

                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/front-end/img/Slider/slider1.jpg" alt="...">
                            <div class="content">
                                <div id="heading" class="heading">
                                    <h1>Ihr zuverlässiger Partner im Hochbau</h1>
                                </div>
                                <p class="sliderTxt">

                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <img src="/front-end/img/Arrows/ReadMoreB.icon.png" alt="" class="controls" id="left" />
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <img src="/front-end/img/Arrows/ReadMoreB.icon.png" alt="" class="controls" id="right">
                    </a>
                    </div>
                </div>
            </div>
            <div class="row sections-container">
                <div class="sections">
                    <div class="col-md-8 col-sm-12  sectionList">
                        <h3 class="leis">LEISTUNGEN</h3>
                    </div>
                    <div class="col-md-4 col-sm-8 title">
                        <h3>PRO - Bau GmbH</h3>
                        <h6>Friedrichshuttenstrass 20, 57548 Kirchen</h6>
                    </div>
                </div>
            </div>
            <!-- mobile Version PART -->
            <div class="row mobile-section-container" id="services-mobile">
                <div class="col-xs-10 col-xs-offset-1 mobile-services">
                    <h3>Services</h3>
                    <div class="col-xs-12 unit-service-container">
                        <div class="col-xs-2 service-image-container">
                            <img src="/front-end/img/services/service1.svg" alt="">
                        </div>
                        <div class="col-xs-10 service-about-container">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit sequi corrupti veniam saepe quia velit sapiente omnis ipsa praesentium, necessitatibus. Nam deleniti optio, assumenda aspernatur, ex doloremque earum veritatis provident.
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 unit-service-container">
                        <div class="col-xs-2 service-image-container">
                            <img src="/front-end/img/services/service2.svg" alt="">
                        </div>
                        <div class="col-xs-10 service-about-container">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit sequi corrupti veniam saepe quia velit sapiente omnis ipsa praesentium, necessitatibus. Nam deleniti optio, assumenda aspernatur, ex doloremque earum veritatis provident.
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 unit-service-container">
                        <div class="col-xs-2 service-image-container">
                            <img src="/front-end/img/services/service3.svg" alt="">
                        </div>
                        <div class="col-xs-10 service-about-container">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit sequi corrupti veniam saepe quia velit sapiente omnis ipsa praesentium, necessitatibus. Nam deleniti optio, assumenda aspernatur, ex doloremque earum veritatis provident.
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 unit-service-container">
                        <div class="col-xs-2 service-image-container">
                            <img src="/front-end/img/services/service4.svg" alt="">
                        </div>
                        <div class="col-xs-10 service-about-container">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit sequi corrupti veniam saepe quia velit sapiente omnis ipsa praesentium, necessitatibus. Nam deleniti optio, assumenda aspernatur, ex doloremque earum veritatis provident.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobile Version PART END-->
        </div>
         <!-- mobile PROJECTS PART -->
        <div class="container-fluid mobile-section-container" id="projects-mobile">
            <div class="row full-fluid">
                <div class="mobile-projects first">
                    <h4>Project 1</h4>
                </div>
                <div class="mobile-projects second">
                    <h4>Project 2</h4>
                </div>
                <div class="mobile-projects third">
                    <h4>Project 3</h4>
                </div>
                <div class="mobile-projects fourth">
                    <h4>Project 4</h4>
                </div>
            </div>
        </div>
        <!-- mobile PROJECTS PART END-->
        <!-- mobile Gallery PART START -->
        <div class="container-fluid mobile-section-container gallery-mobile" id="gallery-mobile">
            <div class="row">
                <h3>Gallerie</h3>
                <div class="col-xs-12 gall">
                    <div class="gallery-container">
                        <div id="carousel-example-generic-mobile" class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner not-skewed" role="listbox">
                            {% for picture in pictures %}
                                <div class="item">
                                    <img src="{{picture.url}}" alt="...">
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile GALLERY PART END-->
         <!-- mobile TEAM PART -->
        <div class="container-fluid mobile-section-container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 team-mobile-section">
                    <h3>Wie Freuen uns auf sie</h3>
                    <p>
                        Bei der PRO-Bau GmbH sorgt ein langjähriges, erfahrenes und praxiserprobtes Team,
                        für die professionelle Ausführung Ihres Bauvorhabens. 
                    </p>
                    <p>
                        Kontaktieren Sie uns gerne per Telefon, Email oder Kontaktformular für ein persönliches 
                        Gespräch und ein individuelles Angebot. Wir helfen Ihnen dabei, Ihre Bauprojekte zu realisieren!
                        Überzeugen Sie sich selbst!
                    </p>
                </div>
                <div class="col-xs-12 team-image-container">
                    <img src="/front-end/img/mobileteam1.jpg" alt="" />
                </div>
            </div>
        </div>
         <!-- mobile TEAM PART END -->
          <!-- mobile CONTACT PART -->
        <div class="container-fluid mobile-section-container" id="mobile-contact">
            <div class="row">
                <div class="col-xs-12 mobile-contact-container">
                    <div class="col-xs-10 col-xs-offset-1 mobile-contact-wrapper">
                        <h3>Kontakt</h3>
                        <div class="col-xs-12">
                            <h4>PRO-Bau GmbH</h4>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-2">
                                <span class="glyphicon glyphicon-home"></span>
                            </div>
                            <div class="col-xs-10">
                                <p> Friedrichshuttenstrass 20,57548 Kirchen</p>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-2">
                                <span class="glyphicon glyphicon-phone-alt"></span>
                            </div>
                            <div class="col-xs-10">
                                <p>02741- 93 78 54 </p>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-2">
                                <span class="glyphicon glyphicon-send"></span>
                            </div>
                            <div class="col-xs-10">
                                <p>pro-bau.gmbh@t-online.de</p>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h4>Send us a message</h4>
                            <div class="col-xs-12 contact-width">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="name">
                                    <label class="mdl-textfield__label" for="sample3">Name...</label>
                                </div>
                            </div>
                            <div class="col-xs-12 contact-width">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="email" id="mail">
                                    <label class="mdl-textfield__label" for="sample3">Email...</label>
                                </div>
                            </div>
                            <div class="col-xs-12 contact-width">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <textarea class="mdl-textfield__input" type="text" rows= "3" id="content" ></textarea>
                                    <label class="mdl-textfield__label" for="sample5">Your message...</label>
                                </div>
                            </div>
                            <div class="col-xs-12 buttonche">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mobile-section-container">
            <div class="row">
                <div class="col-xs-12 footer-logo-container">
                    <img src="/front-end/img/Logos/NavLogoNovi.png" alt="">
                </div>
            </div>
        </div>
         <!-- mobile CONTACT PART END -->
        <div class="container-fluid">
            <div class="row services sections-container">
              <div class="col-sm-12 secs">
                <div class="col-lg-6 col-md-12 mets">
                    <div class="col-sm-6">
                        <img src="/front-end/img/Tabs/Tab_1.jpg" class="img-responsive img-thumbnail" alt="" width="240" height="auto">
                    </div>
                    <div class="col-sm-6 text">
                        <h4>Mauerarbeiten</h4>
                        <p>
                            Unser Bau- Team für Mauerarbeiten, nimmt gerne Ihre Wünsche an, ob einfaches
                            Mauerwerk oder spezielle Arbeiten, wie z. B. Segmentbögen in den von Ihnen
                            bevorzugten Steinen.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mets">
                    <div class="col-sm-6">
                        <img src="/front-end/img/Tabs/Tab_2.jpg" class="img-responsive img-thumbnail" alt="" width="240" height="auto">
                    </div>
                    <div class="col-sm-6 text">
                        <h4>Schalarbeiten</h4>
                        <p>
                            Für die Schalungsarbeiten stehen Ihnen Einschaler mit Berufserfahrung zur
                            Verfügung, die auch dazu im Stande sind Rundungen oder spezielle Formen in
                            Sichtqualität einzuschalen.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 secs">
                <div class="col-lg-6 col-md-12 mets">
                    <div class="col-sm-6">
                        <img src="/front-end/img/Tabs/Tab_3.jpg" class="img-responsive img-thumbnail" alt="" width="240" height="auto">
                    </div>
                    <div class="col-sm-6 text">
                        <h4>Bewehrungsarbeiten</h4>
                        <p>
                            In echter Handarbeit bringen unsere Eisenflechter nach statischen Vorgaben
                            den Baustabstahl und die Baustahlmatten für Ihr Bauobjekt in Form.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mets">
                    <div class="col-sm-6">
                        <img src="/front-end/img/Tabs/Tab_2.jpg" class="img-responsive img-thumbnail" alt="" width="240" height="auto">
                    </div>
                    <div class="col-sm-6 text">
                        <h4>Betonarbeiten</h4>
                        <p>
                            Nach den geleisteten Vorarbeiten kommt jetzt der Feinschliff, durch unsere
                            Betonfacharbeiter, die den entsprechenden Beton verschiedenere Güteklassen
                            in die Bauteile gießt und verdichtet.
                        </p>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row sections-container">
                <div class="col-sm-12 sectionTwo">
                    <div class="message">
                        <div class="heading">
                            <h3>Wir sind Ihr Partner</h3>
                        </div>
                        <p>Werfen Sie doch einfach einen Blick
                            auf unsere zahlreichen Projekte und Referenzen
                            und überzeugen Sie sich von unserem Können.
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 titleBanner sections-container">
                    <div class="titleing">
                        <div class="col-sm-10">
                            <h3 class="projects">PROJECTS</h3>
                        </div>
                        <div class="col-sm-2 more">
                            <span class="vAll">Mehr sehen</span>
                            <img src="/front-end/img/Arrows/ReadMoreW.icon.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row sections-container">
                <div class="col-sm-8 col-sm-offset-2 tumbanils">
                    <div class="col-sm-4 ">
                        <div class = "thumbnail">
                            <img src = "/front-end/img/Projecten/project1.jpg" alt = "Generic placeholder thumbnail">
                        </div>
                        <div class = "caption">
                            <h3>Thumbnail label</h3>
                            <p>Some sample text. Some sample text.</p>
                            <p><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <a href="">Weiter Lesen</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class = "thumbnail">
                            <img src = "/front-end/img/Projecten/project6.jpg" alt = "Generic placeholder thumbnail">
                        </div>
                        <div class = "caption">
                            <h3>Thumbnail label</h3>
                            <p>Some sample text. Some sample text.</p>
                            <p><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <a href="">Weiter Lesen</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class = "thumbnail">
                            <img src = "/front-end/img/Projecten/project4.jpg" alt = "Generic placeholder thumbnail">
                        </div>
                        <div class = "caption">
                            <h3>Thumbnail label</h3>
                            <p>Some sample text. Some sample text.</p>
                            <p><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <a href="">Weiter Lesen</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid ">
            <div class="row sections-container">
                <div class="sectionThere">
                </div>
                <div class="col-sm-12 teaming-up">
                    <div class="teaming">
                        <h3>TEAM</h3>
                    </div>
                </div>
            </div>
            <div class="row sections-container">
                <div class="col-sm-12 preFooter">
                    <div class="backphoto">
                        <div class="">
                            <h2>Wir freuen uns auf sie</h2>
                            <p>Bei der PRO-Bau GmbH sorgt ein langjähriges, erfahrenes und praxiserprobtes Team,
                                für die professionelle Ausführung Ihres Bauvorhabens. <br> <br><br>

                                Kontaktieren Sie uns gerne per Telefon, Email oder Kontaktformular für ein persönliches Gespräch und ein individuelles Angebot.

                                Wir helfen Ihnen dabei, Ihre Bauprojekte zu realisieren!

                                Überzeugen Sie sich selbst!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row sections-container">
                {% include 'shared/footer.twig' %}
            </div>
        </div>
        <script src="/front-end/js/scroll.js"></script>
        <script src="/front-end/js/sendMail.js"></script>
    </body>
</html>
