{% include 'shared/header.twig' with {'style': style} %}
 <body ng-app="proApp" ng-controller="proCtrl" ng-cloak>
        <div class="container-fluid" id="firstCont">
            <div class="row">
            {% include 'shared/navigation.twig' %}
                <!--Responsive nav Endeee -->
                <div class="navigator">

                    </div>
                <div class="notMoving">

                </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 sectionTwo">
   
                </div>
                <div class="col-sm-12 titleing ">
                        <div class="inner">
                            <h3 class="projects">PROJECTEN</h3>
                        </div>
                </div>

            </div>
            <div class="row tumbs">
            {% if projects|length > 0 %}
                {% for project in projects %}
                <div class="col-sm-8 col-sm-offset-2 border">
                    <div class="col-sm-3 pic">
                        <img src="/front-end/img/projects/project1.jpg" alt="">
                    </div>
                    <div class="col-sm-9">
                        <h1>Title</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                             exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <img src="/front-end/img/404.png" alt="" class="notfound">
            {% endif %}
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                {% include 'shared/footer.twig' %}
            </div>
        </div>
    </body>
</html>
