{% include 'shared/header.twig' with {'style': style} %}
    <body>
        <div class="container-fluid" id="firstCont">
            <div class="row">
                {% include 'shared/navigation.twig' %}
                <!--Responsive nav Endeee -->
                <div class="navigator">

                    </div>
                <div class="notMoving">

                </div>
                <div class="headline-top">
                    <div class="container">
                        <div class="trans">
                            <h1>Herzlich willkommen bei der PRO-Bau GmbH</h1>
                            <p>Wir sind ein modernes, flexibeles und innovatives Bauunternehmen mit langjähriger Berufserfahrung aus Kirchen/Westerwald an der Sieg.
                                Hauptsächlich bieten wir unsere Unterstützung zu Verwirklichung Ihrer Bauprojekte - in Zusammenarbeit mit Subunternehmen- als Lohn Leister an, d. h. ohne 
                                Material und die erforderlichen Maschinen.
                                Unsere Referenzen beziehen sich auf die Errichtung von Häusern/ Wohnanlagen, Kliniken und Industriehallen bis hin zum Bau von Hallen- bzw. Schwimmbädern.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sections">
                    <div class="col-md-4 col-md-offset-8 title">
                        <h3>PRO - Bau GmbH</h3>
                        <h6>Friedrichshuttenstrass 20, 57548 Kirchen</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="specialRow">
                <div class="col-sm-12 sectionOne">
                    <div class="block">
                        <div class="col-sm-3 ico">
                            <img src="/front-end/img/services/service1.png" alt="">
                        </div>
                        <div class="col-sm-9 servicesText">
                            <h3>Mauerarbeiten</h3>
                            <p> Unser Bau- Team für Mauerarbeiten, nimmt gerne Ihre Wünsche an, ob einfaches
                                Mauerwerk oder spezielle Arbeiten, wie z. B. Segmentbögen in den von Ihnen
                                bevorzugten Steinen. </p>
                        </div>
                    </div>
                    <div class="block">
                        <div class="col-sm-3 ico">
                            <img src="/front-end/img/services/service2.png" alt="">
                        </div>
                        <div class="col-sm-9 servicesText">
                            <h3>Schalarbeiten</h3>
                            <p>Für die Schalungsarbeiten stehen Ihnen Einschaler mit Berufserfahrung zur
                                Verfügung, die auch dazu im Stande sind Rundungen oder spezielle Formen in
                                Sichtqualität einzuschalen.</p>
                        </div>
                    </div> 
                    <div class="block">
                        <div class="col-sm-3 ico">
                            <img src="/front-end/img/services/service3.png" alt="">
                        </div>
                        <div class="col-sm-9 servicesText">
                            <h3>Bewehrungsarbeiten</h3>
                            <p>In echter Handarbeit bringen unsere Eisenflechter nach statischen Vorgaben
                                den Baustabstahl und die Baustahlmatten für Ihr Bauobjekt in Form. </p>
                        </div>
                    </div> 
                    <div class="block">
                        <div class="col-sm-3 ico">
                            <img src="/front-end/img/services/service4.png" alt="">
                        </div>
                        <div class="col-sm-9 servicesText">
                            <h3>Betonarbeiten</h3>
                            <p>Nach den geleisteten Vorarbeiten kommt jetzt der Feinschliff, durch unsere
                                Betonfacharbeiter, die den entsprechenden Beton verschiedenere Güteklassen
                                in die Bauteile gießt und verdichtet. </p>
                        </div>
                    </div>                     
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                {# project section #}
                
                <div class="col-sm-12 sectionTwo">
                    <div class="wrapper">
                        <div class="col-sm-6 projectText">
                            <h3>PROJECTE </h3>
                            <p> Dass wir die Errichtung von Rohbauten für unsere Auftraggeber, 
                                sachlich, fachlich und termingerecht in ganz Deutschland erfolgreich 
                                anbieten und verwirklichen können, verdanken wir vorrangig unseren 
                                leistungsstarken Mitarbeitern. Die Ihre Aufgaben im Laufe der Jahre,
                                mit Freuden für unsere Kunden ausgeführt haben. Auch für Sie wollen 
                                wir ein zuverlässiger und fairer Baupartner sein! Sofern wir Ihr Interesse 
                                geweckt haben und Sie Wert auf eine partnerschaftliche und kooperative 
                                Geschäftsbeziehung legen, würden wir uns freuen, wenn Sie an uns herantreten, 
                                um Ihre Bauprojekte zu realisieren. Freilich können Sie uns zu Jederzeit telefonisch
                                erreichen und/ oder eine Anfrage für eines Ihrer Bauprojekte an pro-bau.gmbh@t-online.de senden. 
                            </p>
                        </div>
                        <div class="col-sm-6 proj-container">
                            <div class="proj projectOne">

                            </div>
                            <div class="proj projectTwo">
                            
                            </div>
                            <div class="proj projectThree">
                            
                            </div>
                            <div class="proj projectFour">
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% include 'shared/footer.twig' %}
            </div>
            <style>
                .footering{
                    margin-top: -4%;
                }
            </style>
        </div>
    </body>
</html>
