body{
    background-color:#fa6551;
}
.headline{
    margin:auto;
}
.headline img{
    display: block;
    margin: auto;
}

#save{
    float:right;
}

#saveSlider{
    float:right;
}
.pic{
    width:100%;
    height:100%;
    border-radius: 9px;
    margin-top:7px;
    border:2px solid silver;
}
.closeX{
    position: absolute;
    width: 9%;
    right: 2%;
    top: 0%;
}
.fixed{
    height:250px;
    margin:10px 0px;
}
