@media screen and (max-width:860px){
    .mobile-section-container{
        display:block;
    }
    .slider{
        transform: skewY(2deg);
        overflow: hidden;
        margin-top: -3%;
    }
    .carousel-inner{
        transform: skewY(-2deg);
        height:auto;
        margin-bottom: -3%;
    }
    .sections-container{
        display:none;
    }
    .content{
        top: 40%;
        width:55%;
    }
    .content h1{
        font-size:27px;
    }
    hr{
        margin-top: .5em;
        margin-bottom: .5em;
    }
    .desktop{
        display:none;
    }
    .mobile-container-impressum{
        display:block;
    }
}