body{
    font-family: 'Lato', sans-serif;
}
/*container 1*/

/* slider START*/
.headline-top{
    width:100%;
    height:66%;
    background-image:url("../img/amsterdam.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    border-bottom:6px solid #fa5651;
    position:relative;
    padding-top:10%;
    padding-bottom:10%;
}
.headline-top img{
    width:100%;
    height:100%;
}
.trans{
    background-color: rgba(0,0,0,.5);
    color: #fff;
    text-align: center;
    border-left: 4px solid #fa5651;
    z-index: 10;
    width: 63%;
    margin-left: 37%;
    padding: 1%;
    background: linear-gradient(to right, #fff, rgba(0,0,0,0));
}
.trans h1{
    color:#000;
}
.trans p{
    color:#000;
}
#firstCont{
    position:relative;
}
/* slider END*/
.insideSlider .content {
    z-index: 3;
    position: absolute;
    bottom: 30%;
    left: 12%;
    height: auto;
    width:30%;
    color: #fff;
    line-height: 3em;
    padding: 0 1em;
    font-size: 1.5em;
    margin:1% 1% 1% 1%;
    background-color:rgba(0,0,0,.6);
    box-shadow: -5px 0 0 0 #fa5651;
}
.content h1{
    color:#fff;  
}
.heading h1{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size:48px;
}
.sliderTxt{
    font-family: inherit;
    line-height: 1;
}

/* Slider bulider end*/
/* nav bar responsive End*/
/* container  1 ende */
.konteiner{
    width:auto;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    color:#fff;
    font-weight: 400;
    z-index: 11;
}
.sectionOne{
    height:auto;
    margin-left:auto;
    margin-right: auto;
    padding-top:.8em;
}
.sections{
    margin-top: -3%;
    background-color:#fa5651;
    z-index: 11;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 #ffffff, 0 -5px 0 0 #ffffff;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    height:100px;
    z-index:20;
}

.sections:after {
    content: "";
    background: #fa5651;
    height:95%;
    transform-origin:-22%;
    transform: skewY(2deg);
    display: block;
    width:auto;
    z-index: 0;
}
.block{
    float:left;
    width:100%;
    margin:2% 0;
}
.ico img{
    width:27%;
    display:block;
    margin:auto;
}
.servicesText h3{
    margin-top:0;
    border-bottom:2px solid #fa5651;
}
.title{
    padding-right: 30px;
    z-index: 1;
    text-align:right;
    color:#fff;
}
.wrapper{
    transform:skewY(2deg);
}

.pic img{
    width:100%;
    height:auto;
}
.text{
    color:#000;
}
.text h3{
    margin-top:0em !important;
}
.text p{
    color:#2c3147;
    padding-left:30px;
}
.text h3:before {
    content: '• ';
    position: relative;
    font-size:35px;
    bottom: -.1em;
    color: #fa5651;
}
.top{
    padding:0;
}
.top h3{
    padding-left:2%;
    font-weight: 700;
    padding-top:.7em;
}
.fini{
    margin-bottom:2%;
}
/*section 2 */

.sectionTwo{
    height:auto;
    background-color:#2c3147;
    padding:0;
    margin-bottom:1%;
    z-index:40;
    width: 80%;
    margin: 0 10%;
    transform:skewY(-2deg);
    overflow: hidden;
}
.projectText {
    color:#fff;
    padding:5%;
    text-align: justify;
}
.proj-container{
    padding:0;
    margin-top: -19px;
}
.proj{
    padding: 53px 0;
}
.projectOne{
    background:url('../img/Projecten/plavo1.jpg')no-repeat center;
    background-size:100% 100%;
}
.projectTwo{
    background:url('../img/Projecten/plavo2.jpg')no-repeat center;
    background-size:100% 100%;
}
.projectThree{
    background:url('../img/Projecten/plavo3.jpg')no-repeat center;
    background-size:100% 100%;
}
.projectFour{
    background:url('../img/Projecten/plavo4.jpg')no-repeat center;
    background-size:100% 100%;
}
.thumbnails{
    height: 30%;
    margin:5% 0;
}
.thumbnails img{
    width:100%;
    height:100%;
}
.txt{
    position:absolute;
    top:50%;
    padding:0 5%;
    color:#fff;
}
.thumbnails:hover{
    background-color: rgba(0,0,0,.5);

}
.specialRow{
    position: relative;
    margin:auto;
    width:80%;
    margin-top: 3%;
}
.controlsSpecial{
    position:absolute;
    cursor:pointer;
    top:30%;
    right:2%;
    width:4% !important;
    height:auto !important;
}
#leftS{
    left:-10%;
    transform: rotateY(180deg);
}
#rightS{
    right:-10%;
}

.message{
    z-index: 3;
    position: absolute;
    top:10%;
    right: 10%;
    height: auto;
    width:30%;
    color: #fff;
    padding: 0 1em;
    margin:1% 1% 1% 1%;
    background-color:rgba(0,0,0,.6);
    border-left:#fa5651 solid 4px
}
.scale{
    position:relative;
    padding-left:6em;
    top:80%;
}
.scale div:nth-child(4){
    padding-left:0;
}
.titleing{
    position:absolute;
    background-color:#fa5651;
    border-top:5px solid #fff;
}
.titleing{
    position: relative;
    top:24em;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    height:40%;
    background-color: #fa5651;
    color:#fff;
    z-index: 20;
}
.projects{
    margin-top:1em;
    padding-top:.7em;
    font-weight: 700;
    margin-bottom:0;
}
.vAll{

    margin-bottom:0; 
    font-size: 18px;
}
.more img{
    width:15%;
    height:auto;
    padding-bottom:2%
}
.more{
    margin-top:1em;
    padding-top:.9em;
}
.titleing:after{
    content: " ";
    background: #fff;
    height:10em;
    transform: skewY(-2deg);
    transform-origin: 270em;
    display: block;
    width:101%;
    z-index: 10;
}
.tumbanils{
    margin-top:5em;
}
/* section there beginin */
.sectionThere{
    margin-top:4em;
    width:100%;
    height:50%;
    background-image:url("../img/ptown.jpg");
    background-position: center;
   background-attachment: fixed;
    transform: skewY(-2deg);
    border-bottom:8px solid #fa5651;
    
}
.sectionThere:before{
    content:" ";
    background: #fff;
    height:20%;
    transform: skewY(2deg);
    transform-origin: 104%;
    display: block;
    width:100%;
    z-index: 10;
}
.teaming{
    position:absolute;
    background-color:#fa5651;
    border-top:5px solid #fff;
}
.teaming{
    position: relative;
    top:69%;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    height:40%;
    background-color: #fa5651;
    transform: skewY(2deg);
    color:#fff;
}
.teaming:after{
    content: " ";
    background: #fff;
    height:60%;
    transform: skewY(-2deg);
    transform-origin: 140%;
    display: block;
    width:100%;
    z-index: 10;
}
.teaming h3{
    padding-left:2%;
    font-weight: 700;
    margin-top:1em;
    padding-top:.7em;
}
.aboutTeam{
    margin-top:7%;
    margin-bottom:1%;
    z-index:15;
}
.aboutTeam h2:before {
    content: '• ';
    position: relative;
    font-size:35px;
    bottom: -.1em;
    color: #fa5651;
}
.aboutTeam p{
    padding:5% 8% 5% 3%;
    text-align: justify;
    text-justify: inter-word;
    color:#2c3147;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.86;
}
.aboutTeam h1{
    text-align: right;
}
.divce{
    margin:4em 0;
}
.zivce{
    margin:3.5em 0;
}
/* section there END */
.list{
    text-align:center;
    margin:0 auto;
    color:inherit;
    font-size:inherit;
    cursor:pointer;
}